form {
	box-sizing: border-box;
	width: 90%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 20px;
	background-color: var(--color-bg);
	padding: 1rem 1.5rem;
	border-radius: 10px;
}

label {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	color: var(--color-text);
}

textarea {
	background-color: var(--color-item-bg);
	border: 1px solid var(--color-text);
	border-radius: 2px;
	font-family: inherit;
	font-size: 18px;
	text-align: center;
	padding: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 96px;
	color: var(--color-text);
}

textarea::placeholder {
	font-weight: 400;
	color: var(--color-text);
	opacity: 0.5;
}

textarea:focus {
	outline-color: #61dafa;
}

.TodoForm-buttonContainer {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.TodoForm-button {
	font-weight: bold;
	cursor: pointer;
	font-family: inherit;
	font-size: 20px;
	padding: 0.2em 0.5em;
	border: 0;
	border-radius: 2px;
	width: 120px;
	color: var(--color-blanco);
}

.TodoForm-button--add {
	background-color: var(--color-cta);
}
.TodoForm-button--cancel {
	background-color: transparent;
	color: var(--color-text);
}
